<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebanma.cloud.mall.dao.SkuAttachmentMapper">

    <resultMap id="BaseResultMap" type="com.ebanma.cloud.mall.model.po.SkuAttachmentPO">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="seq" column="seq" jdbcType="VARCHAR"/>
            <result property="relationId" column="relation_id" jdbcType="VARCHAR"/>
            <result property="size" column="size" jdbcType="VARCHAR"/>
            <result property="relationType" column="relation_type" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="lastModified" column="last_modified" jdbcType="VARCHAR"/>
            <result property="lastModifyUser" column="last_modify_user" jdbcType="VARCHAR"/>
            <result property="del" column="del" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,url,
        seq,relation_id,size,
        relation_type,version,create_time,
        create_user,last_modified,last_modify_user,
        del
    </sql>
</mapper>
