<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebanma.cloud.game.dao.GameRuleMapper">
  <resultMap id="BaseResultMap" type="com.ebanma.cloud.game.model.po.GameRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="egg_type" jdbcType="VARCHAR" property="eggType" />
    <result column="present_code" jdbcType="VARCHAR" property="presentCode" />
    <result column="present_count" jdbcType="INTEGER" property="presentCount" />
    <result column="egg_odd" jdbcType="DOUBLE" property="eggOdd" />
    <result column="present_odd" jdbcType="DOUBLE" property="presentOdd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
</mapper>