<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebanma.cloud.game.dao.GameUserRecordMapper">
  <resultMap id="BaseResultMap" type="com.ebanma.cloud.game.model.po.GameUserRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="present_code" jdbcType="VARCHAR" property="presentCode" />
    <result column="present_count" jdbcType="INTEGER" property="presentCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.ebanma.cloud.game.model.vo.GameTopRankVO">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
    <select id="getTopRank" resultMap="BaseResultMap2">
      select id, user_id , user_name  ,create_time
      from  game_user_record
      where present_code=#{code}  and present_count = #{count}
          and TIMESTAMPDIFF(week,create_time,now())  = 0 order by create_time desc ;
    </select>
</mapper>