<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebanma.cloud.game.dao.GameUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.ebanma.cloud.game.model.po.GameUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remain_times" jdbcType="INTEGER" property="remainTimes" />
    <result column="total_win_points" jdbcType="INTEGER" property="totalWinPoints" />
    <result column="total_red_packet" jdbcType="INTEGER" property="totalRedPacket" />
    <result column="winning_times" jdbcType="INTEGER" property="winningTimes" />
    <result column="total_draw_times" jdbcType="INTEGER" property="totalDrawTimes" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
</mapper>