<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebanma.cloud.game.dao.GameUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.ebanma.cloud.game.model.po.GameUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remain_times" jdbcType="INTEGER" property="remainTimes" />
    <result column="total_win_points" jdbcType="INTEGER" property="totalWinPoints" />
    <result column="total_red_packet" jdbcType="INTEGER" property="totalRedPacket" />
    <result column="winning_times" jdbcType="INTEGER" property="winningTimes" />
    <result column="total_draw_times" jdbcType="INTEGER" property="totalDrawTimes" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="winning_date" jdbcType="TIMESTAMP" property="winningDate" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.ebanma.cloud.game.model.po.GameUserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remain_times" jdbcType="INTEGER" property="remainTimes" />
    <result column="total_win_points" jdbcType="INTEGER" property="totalWinPoints" />
    <result column="total_red_packet" jdbcType="INTEGER" property="totalRedPacket" />
    <result column="winning_times" jdbcType="INTEGER" property="winningTimes" />
    <result column="total_draw_times" jdbcType="INTEGER" property="totalDrawTimes" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <collection property="gameUserProp" ofType="com.ebanma.cloud.game.model.po.GameUserProp" >
      <result column="propId" jdbcType="BIGINT" property="id" />
      <result column="user_id" jdbcType="VARCHAR" property="userId" />
      <result column="prop_code" jdbcType="VARCHAR" property="propCode" />
      <result column="prop_remain_count" jdbcType="INTEGER" property="propRemainCount" />
    </collection>
  </resultMap>

  <resultMap id="BaseResultMap3" type="com.ebanma.cloud.game.model.vo.GameRankingVO">
    <result column="totalPlayerCount" jdbcType="INTEGER" property="totalPlayerCount" />
    <result column="totalPlayTimes" jdbcType="INTEGER" property="totalPlayTimes" />
  </resultMap>
  <resultMap id="BaseResultMap4" type="com.ebanma.cloud.game.model.vo.GameRankingListVO">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="winning_times" jdbcType="INTEGER" property="winningTimes" />
    <result column="total_draw_times" jdbcType="INTEGER" property="totalDrawTimes" />
    <result column="winning_date" jdbcType="TIMESTAMP" property="winningDate" />
  </resultMap>


  <select id="getUserInfo" resultMap="BaseResultMap2">
    SELECT
      t1.*,t2.id as propId,t2.prop_code ,t2.prop_remain_count
    FROM
      game_user_info t1
        LEFT JOIN game_user_prop t2 ON t1.user_id = t2.user_id
    WHERE
      t1.user_id = #{id}
  </select>
  <select id="getRanking" resultMap="BaseResultMap3">
    SELECT  COUNT(0) as totalPlayerCount,sum(total_draw_times) as totalPlayTimes
    FROM game_user_info
    WHERE
      total_draw_times > 0
  </select>
  <select id="getRankingList"  resultMap="BaseResultMap4" >
    SELECT user_id,winning_times,total_draw_times,winning_date
    FROM game_user_info
    WHERE winning_times>0
    ORDER BY winning_times DESC LIMIT 30
  </select>
</mapper>