<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebanma.cloud.post.dao.PostCommentLikeMapper">

    <resultMap id="BaseResultMap" type="com.ebanma.cloud.post.model.PostCommentLike">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commentId" column="comment_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="dr" column="dr" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_id,user_id,
        create_user,create_time,update_user,
        update_time,dr
    </sql>
</mapper>
