<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebanma.cloud.trans.dao.TransRedPacketMapper">
  <resultMap id="BaseResultMap" type="com.ebanma.cloud.trans.model.TransRedPacket">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trans_id" jdbcType="VARCHAR" property="transId" />
    <result column="red_packet_id" jdbcType="VARCHAR" property="redPacketId" />
  </resultMap>
</mapper>